[submodule "projects/nairon-crm"]
	path = projects/nairon-crm
	url = https://github.com/Lukaeric14/nairon-CRM.git
[submodule "projects/keylead"]
	path = projects/keylead
	url = https://github.com/KeyLead-Team/keylead.git
[submodule "projects/nairon-slackapp"]
	path = projects/nairon-slackapp
	url = https://github.com/Lukaeric14/nairon-slackapp.git
[submodule "projects/nairon-content"]
	path = projects/nairon-content
	url = https://github.com/Lukaeric14/nairon-content.git
